.hidden{
    visibility: hidden;
  }
.visible{
    visibility: visible;
}
.none{
    display: none;
}

#topBar{
    background: #FAB422;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    position: relative;
    z-index: 1;
}

.topButton{
    background: rgba(250, 180, 34, 0.5);
    border: 2px solid #FAB422;
    border-radius: 25px;
    /* margin: 1rem; */
    width: 33%;
    font-size: 1.25vw;
    color: white;
    margin-top: 5%;
}

.topButton:hover{
    background: #FAB422;
    border: 2px solid white;
}

#header{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 4rem;
}

#mainSection{
    width: 100%;
    height: 50%;
    /* background: blue; */
    background: transparent;
    text-align: center;

    position: relative;
    z-index: 1;
    align-content: center;
    float: center;
    height: auto;
    margin: 0px;
    padding: 0px;
}

#Title{
    font-size: 3rem;
    color: white;
    font-family: 'Lobster', cursive;
    cursor: pointer;
}

#Title2{
    font-size: 4vw;
    color: white;
    font-family: 'Lobster', cursive;
    /* cursor: pointer; */
}

#Title3{
    font-size: 2vw;
    color: white;
    font-family: 'Lobster', cursive;
    /* cursor: pointer; */
}

.subTitle{
    font-size: 2.5vw;
    color: white;
    font-family: 'Lobster', cursive;
    padding: 0px;
    margin: 0px;
}

#storeView{
    border: 2px solid white;
    border-radius: 25px;
    height: 30vh;
    width: 100%;
    /* margin-left: 5vw; */
    display:inline-block;
    padding: 0px;
    overflow: scroll;
}

#storeEntry{
    color: white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 40%;
    background: rgba(250, 180, 34, 0.5);
    text-align: left;
    padding: 0px;
    float: left;
    cursor: pointer;
    overflow: scroll;
}

#storeEntry:hover{
    background: #FAB422;
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child){
    float: left;
}

#storeIcon{
    /* font-size: 4vw; */
    font-size: 3rem;
    padding-top: 1%;
    width: auto;
}

#storeInfo{
    text-align: left;
    width: 70%;
    margin: 0px;
    padding: 0px;
    margin-left: 2rem;
    overflow: scroll;
    height: 100%;
}

#storeInfo p{
    margin: 0px;
}

#orderView{
    border: 2px solid white;
    border-radius: 25px;
    height: 92vh;
    display:inline-block;
    margin: 0px;
    padding: 0px;
    background: rgba(250, 180, 34, 0.25);
    overflow:scroll;
}

#orderTop{
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    padding: 0px;
    overflow: hidden;
    height: auto;
}

#orderProducts{
    overflow: scroll;
    padding-top: 1%;
    padding-bottom: 1%;
}

#orderCategories{
    height: 4vw;
    background: #FAB422;
    margin: 0px;
    padding: 0px;
}

#pizzaTypes{
    height: 3vw;
    background: rgba(250, 180, 34, 0.75);
    margin: 0px;
    padding: 0px;
}

#pizzaSizes{
    height: 3vw;
    background: rgba(250, 180, 34, 0.5);
    margin: 0px;
    padding: 0px;
}

#orderCat{
    color:white;
    font-family: 'Lobster', cursive;
    height: 100%;
    font-size: 2vw;
}

#orderCat:hover{
    background: #8d1920;
    cursor: pointer;
}

.selected{
    background: #8d1920 !important;
    color: #FAB422 !important;
}

#product{
    border: 1px solid white;
    border-radius: 25px;
    height: 10vw;
    color:white;
    overflow: scroll;
}

#product:hover{
    background: rgba(250, 180, 34, 0.25);
    cursor: pointer;
}

#productInfo{
    text-align: left;
    width: auto;
    margin: 0px;
    padding: 0px;
    /* margin-left: 2rem; */
}

#productInfo p{
    margin: 0px;
}

#prodTop{
    height: 4vw;
    margin: 0px;
    padding: 0px;
}

#description{
    color: rgba(255,255,255, 0.75);
    font-size: 0.75rem;
    font-style: italic;
    margin: 0px;
    margin-top: 1%;
    padding: 0px;
}

#orderTotal{
    border: 2px solid white;
    border-radius: 25px;
    height: 92vh;
    /* width: 100%; */
    /* margin-left: 5vw; */
    display:inline-block;
    color: white;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#totalTop{
    height: 10%;
    background: #FAB422;
}

#totalList{
    height: 80%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow: scroll;
    background: rgba(250, 180, 34, 0.25);
    padding: 0px;
}

#totalBottom{
    height: 10%;
    background: #FAB422;
}

#orderEntry{
    padding: 0px;
    border-bottom: 1px solid white;
}

#orderEntry:hover{
    background: #8d1920;
    cursor: pointer;
    color: #B12029;
}

#entryInfo{
    text-align: left;
}

#entryInfo p{
    margin: 0px;
}

#specView{
    border: 2px solid white;
    border-radius: 25px;
    height: auto;
    width: 100%;
    /* margin-left: 5vw; */
    display:inline-block;
    color: white;
    font-size: 1.5rem;
}

#specView p{
    margin: 0px;
    padding: 0px;

}

#specView select{
    border: 2px solid #FAB422;
    border-radius: 25px;
    color: #8d1920;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
}

#specView input{
    border: 2px solid #FAB422;
    border-radius: 25px;
    color: #8d1920;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
}

.bottomButton{
    background: rgba(250, 180, 34, 0.5);
    border: 2px solid #FAB422;
    border-radius: 25px;
    /* margin: 1rem; */
    /* width: 33%; */
    font-size: 1.25vw;
    color: white;
    margin-top: 2%;
}

.bottomButton:hover{
    background: #FAB422;
    border: 2px solid white;
}


