<div id="topBar" class="medium-12 column">
	<div id="header">
		<p id="Title" onClick="parent.location='/'">SliceLine</p>
	</div>
</div>

<div class="mainSection">
	<p id="Title2">Sign up</p>
	<p id="formText">Username:</p>
	<input type="text" name="username" class="formInput" [(ngModel)]="username">
	<p id="formText">Password:</p>
	<input type="password" name="password" class="formInput"[(ngModel)]="password">
	<p id="formText">Confirm Password:</p>
	<input type="password" name="confpass" class="formInput"[(ngModel)]="confirm">
	<input type="submit" value="Submit" id="submitButton"(click)="signup()">
</div>