<div class="row">
		<div id="topBar" class="medium-12 column">
			<div id="header">
				<p id="Title" routerLink="/" routerLinkActive="active">SliceLine</p>
			</div>
		</div>
		<div id="mainSection" class="medium-12 column">
			<p id="Title2">Party Chat</p>
			<div class="medium-4 column" id="partyDetails">
				<div class="medium-12 column" id="header2">
					<p id="Title3">Party Details</p>
				</div>
				<div class="medium-12 column" id="details">
					<div id="detailContent">
						<b><p><u>Group Size:</u> {{partySize}}/{{party.size}}</p></b>
					</div>
					<!-- <div id="detailContent">
						<b><p><u>Method:</u> Delivery/Pickup</p></b>
					</div> -->
					<div id="orderContent">
							<b><p><u>Order:</u></p></b>
							<p *ngFor="let item of party.order">{{item.Name}}</p>
					</div>
					<div id="detailContent">
						<b><p><u>Total:</u> ${{party.total}}</p></b>
					</div>
					<div id="detailContent">
						<b><p><u>Total/Person:</u> ${{party.total/party.size}}</p></b>
					</div>
				</div>
			</div>
			<div class="medium-8 column" id="partyChat">
				<div id="message" *ngFor="let m of messages" class="messageLeft" [ngClass]="{'messageLeft' : m.sender != user, 'messageRight' : m.sender == user}">
					<p>{{m.sender}}</p>
					<p>{{m.message}}</p>
				</div>
			</div>
			<div class="medium-4 column" id="leaveDiv">
				<button class="button leaveButton" (click)="leaveParty()">Leave Party</button>
			</div>
			<div class="medium-8 column" id="chatRespond">
					<div class="medium-10 column inner">
							<input [(ngModel)]="message" type="text" id="responseText">
					</div>
					<div class="medium-2 column inner">
							<button (click)="sendMessage()" class="button sendButton">Send</button>
					</div>
			</div>

	</div>
</div>
