<div id="main">
	<div class="row" id="particles-js">
		<div id="topBar" class="medium-12 column">
			<div id="header">
				<p id="Title" onClick="parent.location='/'">SliceLine</p>
			</div>
		</div>
	</div>
	<div class="mainSection">
		<p id="Title2">Login</p>
		<form action="/login" method="POST" id="lForm">
			<p id="formText">Username:</p>
			<input type="text" name="username" class="formInput"> 
			<p id="formText">Password:</p>
			<input type="password" name="password" class="formInput">
			<input type="submit" value="Submit" id="submitButton">
		</form>
	</div>
</div>