<div class="row" id="particles-js">
		<div id="topBar" class="medium-12 column">
			<div id="header">
				<p id="Title" routerLink="/" routerLinkActive="active">SliceLine</p>
			</div>
		</div>
		<div class="medium-12 column mainSection">
			<div class="medium-6 column" id="leftSide">
				<p id="smallSlogan">Hungry?</p>
				<button class="button buttonSplash" routerLink="/login" routerLinkActive="active">Login</button>
				<button class="button buttonSplash" routerLink="/signup" routerLinkActive="active">Signup</button>
			</div>
			<div class="medium-6 column" id="rightSide">
				<img src="/pizzaSlice.png" id="pizzaImg">
			</div>
		</div>
		<div class="medium-12 column" id="description">
			<div class="medium-3 column" id="graphic">
				<i class="fa fa-users"></i>
				<p>Make Friends</p>
			</div>
			<div class="medium-3 column" id="graphic">
				<i class="fa fa-money"></i>
				<p>Save Money</p>
			</div>
			<div class="medium-3 column" id="graphic">
				<i class="fa fa-times-circle"></i>
				<p>No Leftovers</p>
			</div>
			<p>Have you ever been craving pizza, but didn't think you could eat the entire pie yourself?</p>
			<p>Say goodbye to crusty leftovers with SliceLine! </p>
			<p>Simply open the app, find a Pizza Pal, and order yourselves some delicious pie!</p>
		</div>
	</div>
